body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: #333;
    }

    .container {
      width: 80%;
      margin: auto;
      overflow: hidden;
    }

    header {
      background-color: #333;
      color: #fff;
      padding-top: 30px;
      min-height: 70px;
      border-bottom: #77b300 3px solid;
    }

    header h1 {
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      font-size: 2em;
    }

    nav {
      display: flex;
      justify-content: center;
      padding: 10px 0;
        /* Allows links to wrap to the next line if the screen is too narrow */
      flex-wrap: wrap; 
      text-align: center; /* Ensures text inside the button is centered */

}

      nav a {
      color: #fff;
      text-decoration: none;
  /* Increase horizontal space between buttons */
      padding: 15px 15px; 
  /* Add margin for guaranteed separation, which is key for mobile views */
      margin: 5px 10px; 
  /* Add a minimum width to ensure they don't shrink too much */
      min-width: 90px; 
      text-align: center; /* Ensures text inside the button is centered */
      }

    .bio {
      text-align: center;
      padding: 20px;
    }

    .bio img {
      border-radius: 10px;  /* Adjust the value as needed */
      width: 300px;
      height: 400px;
      max-width: 100%;
      max-height: 100%;
    }

    .bio p {
      max-width: 600px;
      margin: 20px auto;
      font-size: 1.1em;
    }

    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px;
      bottom: 0;
    }
